@import "./constansts";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin-top: 98px;

  background: $background;
}
.container {
  width: 1020px;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  padding: 10px 0 20px;

  background: $main-color;
  border-bottom: 1px solid $border;
}
.menu_container {
  display: flex;
  justify-content: space-between;
  padding-top: 3vh;
}

.menu_list {
  display: flex;

  list-style: none;
  text-align: center;
}
.menu_list li {
  // border-bottom: 2px solid #000000;
  padding: 5px;

  font-size: 1.5rem;
  text-transform: uppercase;

  border: 2px solid black;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;

  transition: .5s ease;
}
.menu_list li:hover {
  color: $background;
  text-decoration: underline ;

  border-color: $background;
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
}


.menu_list li:nth-child(2) {
  margin-left: 20px;
}
.menu_list li:nth-child(3) {
  margin-left: 20px;
}
.menu_list li:nth-child(4) {
  margin-left: 20px;
}
.menu_list li:nth-child(5) {
  margin-left: 20px;
}
.menu_list li:nth-child(6) {
  margin-left: 20px;
}
.title {
  height: 50px;

  font-weight: 700;
  font-size: 2.5rem;

  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.about_me {
  padding-top: 30px;
}
.about_container {
  display: flex;
}
.about_me-info {
  width: 40vw;
  padding: 10px;
}

.about_title h1 {
  font-weight: 900;
  font-size: 2rem;
  color: #ffffff;
}
.about_sub {
  width: 95%;
  margin-top: 1vh;

  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $main-color;
}
.about_info {
  margin-top: 4vh;
}
.about_info p {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  margin-bottom: 10px;

  font-weight: 500;
  text-align: right;
  color: $main-color;
  text-transform: uppercase;

  opacity: 90%;
}
.about_info p:nth-child(1) {
  width: 16.5vw;
}
.about_info p:nth-child(2) {
  width: 21.3vw;
}
.span_info a {
  color: $main-color;
  text-decoration: none;
}
.span_info a:hover {
  opacity: .5;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin: 15px auto  ;

  font-weight: 700;
  font-size: 1.2rem;

  background: $main-color;
  border-radius: 10px;
  box-shadow: 9px 13px 34px 0 rgba(0,0,0,.36);
  cursor: pointer;
}
.button:active {
  width: 115px;
  height: 45px;

  font-size: 1rem;

  user-select: none;
}
.about_img {
  width: 475px;
  height: 285px;

  border-radius: 5px;
}
.about_img img {
  width: 100%;

  border-radius: 10px;
  box-shadow: -2px 1px 34px 0 rgba(0,0,0,.56);
}
